@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.5rem;
}

.text-orange{
    color: orange;
}

.text-dark-50{
    color: #545454;
}

.text-muted{
    color: #7c7c7c;
}

.d-flex{
    display: flex;
}

.j-c-b{
    justify-content: space-between;
}

.a-i-c{
    align-items: center;
}

.btn{
    display: inline-block;
    background-image: linear-gradient(to right, orange, #ff7700);
    padding: 1.2rem 2.5rem;
    color: #fff;
    border-radius: 2rem;
    font-size: 1.2rem;
}

.w-50{
    width: 50%;
}

/* hero section */

.hero-section{
    padding: 4rem 0;
}

.hero-img img {
    width: 90%;
    display: block;
    margin-left: auto;
}

.hero-text p{
    font-size: 1.2rem;
    margin: 2rem 0;
}

/* about section */

.about-section{
    background-image: url(../images/about.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 4rem;
}

.about-section__Inner{
    width: 70%;
    margin: 0 auto;
}

.about-img img{
    width: 70%;
}

.about-text p{
    margin: 2rem 0 3rem;
    font-size: 1.2rem;
}